Web References/InboxSMS/InboxServiceNoHeader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="com.esendex.ems.soapinterface" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="com.esendex.ems.soapinterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Implementation of the InboxService (for managing inbound messages) with authentication information passed in as parameters rather than in a header. This allows development/runtime environments without support for the SOAPHeaders to consume the service. Click here for a &lt;a href="https://www.esendex.com/uk/evaluation/evaluation.aspx" title="SMS Service Trial"&gt;free trial&lt;/a&gt;.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="com.esendex.ems.soapinterface">
      <s:element name="GetMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sentat" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="receivedat" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MessageType" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:MessageStatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageType">
        <s:restriction base="s:string">
          <s:enumeration value="Text" />
          <s:enumeration value="Binary" />
          <s:enumeration value="SmartMessage" />
          <s:enumeration value="Unicode" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MessageStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Queued" />
          <s:enumeration value="Sent" />
          <s:enumeration value="Delivered" />
          <s:enumeration value="Failed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetMessageByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageByIDResult" type="tns:message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMessagesByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesByIDResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesForDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesForDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesForDayResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesForDateRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesForDateRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesForDateRangeResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessagesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageByID" />
  </wsdl:message>
  <wsdl:message name="GetMessageByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesByID" />
  </wsdl:message>
  <wsdl:message name="GetMessagesByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesForDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesForDay" />
  </wsdl:message>
  <wsdl:message name="GetMessagesForDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesForDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesForDateRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesForDateRange" />
  </wsdl:message>
  <wsdl:message name="GetMessagesForDateRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesForDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMessage" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMessages" />
  </wsdl:message>
  <wsdl:message name="DeleteMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="InboxServiceNoHeaderSoap">
    <wsdl:operation name="GetMessages">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Get the contents of the inbox&lt;/p&gt;&lt;b&gt;Parameters&lt;/b&gt;	&lt;table border="1" width="500"&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;username&lt;/TD&gt;			&lt;td&gt;Your Esendex username&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;password&lt;/TD&gt;			&lt;td&gt;Your Esendex password&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;account&lt;/TD&gt;			&lt;td&gt;Your Esendex account reference, usually the inbound number in international format eg: 447777111222&lt;/TD&gt;		&lt;/tr&gt;	&lt;/table&gt;&lt;br&gt;Returns an array of messages</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesSoapIn" />
      <wsdl:output message="tns:GetMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets the message with the ID&lt;/p&gt;&lt;b&gt;Parameters&lt;/b&gt;	&lt;table border="1" width="500"&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;username&lt;/TD&gt;			&lt;td&gt;Your Esendex username&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;password&lt;/TD&gt;			&lt;td&gt;Your Esendex password&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;account&lt;/TD&gt;			&lt;td&gt;Your Esendex account reference, usually the inbound number in international format eg: 447777111222&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;id&lt;/TD&gt;			&lt;td&gt;ID of the message&lt;/td&gt;		&lt;/tr&gt;	&lt;/table&gt;&lt;br&gt;Returns the message with the given ID</wsdl:documentation>
      <wsdl:input message="tns:GetMessageByIDSoapIn" />
      <wsdl:output message="tns:GetMessageByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets the messages that have the given IDs&lt;/p&gt;&lt;b&gt;Parameters&lt;/b&gt;	&lt;table border="1" width="500"&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;username&lt;/TD&gt;			&lt;td&gt;Your Esendex username&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;password&lt;/TD&gt;			&lt;td&gt;Your Esendex password&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;account&lt;/TD&gt;			&lt;td&gt;Your Esendex account reference, usually the inbound number in international format eg: 447777111222&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;ids&lt;/TD&gt;			&lt;td&gt;array of message IDs&lt;/td&gt;		&lt;/tr&gt;	&lt;/table&gt;&lt;br&gt;Returns an array of messages</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesByIDSoapIn" />
      <wsdl:output message="tns:GetMessagesByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForDay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets the messages for the given day&lt;/p&gt;&lt;b&gt;Parameters&lt;/b&gt;	&lt;table border="1" width="500"&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;username&lt;/TD&gt;			&lt;td&gt;Your Esendex username&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;password&lt;/TD&gt;			&lt;td&gt;Your Esendex password&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;account&lt;/TD&gt;			&lt;td&gt;Your Esendex account reference, usually the inbound number in international format eg: 447777111222&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;day&lt;/TD&gt;			&lt;td&gt;integer representing the day of the month&lt;/td&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;month&lt;/TD&gt;			&lt;td&gt;Integer represting the month of the year&lt;/td&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;year&lt;/TD&gt;			&lt;td&gt;The year in YYYY format, e.g. 2004&lt;/td&gt;		&lt;/tr&gt;	&lt;/table&gt;&lt;br&gt;Returns an array of messages</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesForDaySoapIn" />
      <wsdl:output message="tns:GetMessagesForDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets the messages in the given range&lt;/p&gt;&lt;b&gt;Parameters&lt;/b&gt;	&lt;table border="1" width="500"&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;username&lt;/TD&gt;			&lt;td&gt;Your Esendex username&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;password&lt;/TD&gt;			&lt;td&gt;Your Esendex password&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;account&lt;/TD&gt;			&lt;td&gt;Your Esendex account reference, usually the inbound number in international format eg: 447777111222&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;startdate&lt;/TD&gt;			&lt;td&gt;The start date&lt;/td&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;enddate&lt;/TD&gt;			&lt;td&gt;The end date&lt;/td&gt;		&lt;/tr&gt;	&lt;/table&gt;&lt;br&gt;Returns an array of messages</wsdl:documentation>
      <wsdl:input message="tns:GetMessagesForDateRangeSoapIn" />
      <wsdl:output message="tns:GetMessagesForDateRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Delete a message from the inbox&lt;/p&gt;&lt;b&gt;Parameters&lt;/b&gt;	&lt;table border="1" width="500"&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;username&lt;/TD&gt;			&lt;td&gt;Your Esendex username&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;password&lt;/TD&gt;			&lt;td&gt;Your Esendex password&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;account&lt;/TD&gt;			&lt;td&gt;Your Esendex account reference, usually the inbound number in international format eg: 447777111222&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;id&lt;/TD&gt;			&lt;td&gt;ID of the message&lt;/td&gt;		&lt;/tr&gt;	&lt;/table&gt;&lt;br&gt;Returns nothing</wsdl:documentation>
      <wsdl:input message="tns:DeleteMessageSoapIn" />
      <wsdl:output message="tns:DeleteMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Delete messages from the inbox&lt;/p&gt;&lt;b&gt;Parameters&lt;/b&gt;	&lt;table border="1" width="500"&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;username&lt;/TD&gt;			&lt;td&gt;Your Esendex username&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;password&lt;/TD&gt;			&lt;td&gt;Your Esendex password&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;account&lt;/TD&gt;			&lt;td&gt;Your Esendex account reference, usually the inbound number in international format eg: 447777111222&lt;/TD&gt;		&lt;/tr&gt;		&lt;tr valign=top&gt;			&lt;td width="100"&gt;ids&lt;/TD&gt;			&lt;td&gt;array of message IDs&lt;/td&gt;		&lt;/tr&gt;	&lt;/table&gt;&lt;br&gt;Returns nothing</wsdl:documentation>
      <wsdl:input message="tns:DeleteMessagesSoapIn" />
      <wsdl:output message="tns:DeleteMessagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InboxServiceNoHeaderSoap" type="tns:InboxServiceNoHeaderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="com.esendex.ems.soapinterface/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageByID">
      <soap:operation soapAction="com.esendex.ems.soapinterface/GetMessageByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesByID">
      <soap:operation soapAction="com.esendex.ems.soapinterface/GetMessagesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForDay">
      <soap:operation soapAction="com.esendex.ems.soapinterface/GetMessagesForDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForDateRange">
      <soap:operation soapAction="com.esendex.ems.soapinterface/GetMessagesForDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap:operation soapAction="com.esendex.ems.soapinterface/DeleteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <soap:operation soapAction="com.esendex.ems.soapinterface/DeleteMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InboxServiceNoHeaderSoap12" type="tns:InboxServiceNoHeaderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="com.esendex.ems.soapinterface/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageByID">
      <soap12:operation soapAction="com.esendex.ems.soapinterface/GetMessageByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesByID">
      <soap12:operation soapAction="com.esendex.ems.soapinterface/GetMessagesByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForDay">
      <soap12:operation soapAction="com.esendex.ems.soapinterface/GetMessagesForDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForDateRange">
      <soap12:operation soapAction="com.esendex.ems.soapinterface/GetMessagesForDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap12:operation soapAction="com.esendex.ems.soapinterface/DeleteMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <soap12:operation soapAction="com.esendex.ems.soapinterface/DeleteMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InboxServiceNoHeader">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Implementation of the InboxService (for managing inbound messages) with authentication information passed in as parameters rather than in a header. This allows development/runtime environments without support for the SOAPHeaders to consume the service. Click here for a &lt;a href="https://www.esendex.com/uk/evaluation/evaluation.aspx" title="SMS Service Trial"&gt;free trial&lt;/a&gt;.</wsdl:documentation>
    <wsdl:port name="InboxServiceNoHeaderSoap" binding="tns:InboxServiceNoHeaderSoap">
      <soap:address location="https://www.esendex.com/secure/messenger/soap/InboxServiceNoHeader.asmx" />
    </wsdl:port>
    <wsdl:port name="InboxServiceNoHeaderSoap12" binding="tns:InboxServiceNoHeaderSoap12">
      <soap12:address location="https://www.esendex.com/secure/messenger/soap/InboxServiceNoHeader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>